* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;

}

header {
    max-width: 1730px;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    margin: auto;

    & nav,
    nav ul {
        display: flex;
        gap: 51px;
        align-items: center;

        & ul a {
            color: #6b7280;
            font-size: 18px;
            letter-spacing: 0, 02em;

        }

        & li:first-child a {
            color: #000;
            font-weight: 600;
        }

    }

    & button {
        background: #1f1f39;
        padding: 8, 07px;
        border-radius: 8px;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        padding: 13px 35px;
        border: none;

    }


}

section {
    max-width: 1730px;
    margin: auto;
    padding: 120px;

}

.home {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;

    & img {
        width: 417.2721862792969;
        height: 269.3020935058594;




    }

    & .content {
        max-width: 600px;
        gap: 30px;
        display: flex;
        flex-direction: column;

        & h1 {
            color: #1F1F39;
            font-weight: 700;
            font-size: 70px;
            line-height: 80px;

        }

        & p {
            font-size: 28px;
            line-height: 48px;
            color: #1f1f39b2;
            font-weight: 400;

        }

        & button {
            width: 246.49px;
            padding: 10.87px;
            border-radius: 10.87px;
            border: none;
            background: #1f1f39;
            font-size: 24.24px;
            font-weight: 700;

            & a {
                color: #fff;
            }

        }

    }
}

.portifolio {
    & h2 {
        max-width: 980px;
        font-size: 40px;
        font-weight: 500;
        line-height: 60px;
        margin-bottom: 109px;
    }

    & cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: row;

    }

    & .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 109px;
        justify-content: space-between;

        & .card {
            width: 400px;

            & img {
                width: 100%;
            }

            & p {
                font-weight: 700;
                font-size: 28px;
                line-height: 48px;
                color: #000000B2;
            }
        }
    }

}

.about {
    background: #000;
    color: #fff;
    max-width: 100%;


    & h2 {
        font-weight: 400;
        font-size: 22px;
        text-transform: capitalize;
        margin-bottom: 29px;
    }

    & .content {

        & h3 {
            font-weight: 500;
            font-size: 40px;
            margin-bottom: 55px;

        }

        & button {
            padding: 18px 63px;
            border-radius: 10.87px;
            border: none;
            background: #fff;
            font-weight: 700;
            font-size: 24px;

            & a {
                color: #000;
            }


        }

    }

}

footer {
    display: flex;
    background: #000;
    color: #fff;
    padding: 50px 120px;
    max-width: 100%;
    justify-content: space-between;
    border-top: 1px solid #4f4f4f;
    color: #ffffff80;
    align-items: center;
}